/* ==============================
   Hero
   ============================== */
.concert-hero {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  background-image: url('/public/assets/mimi4.jpg');
  background-size: cover;         
  background-position: top;    
  background-repeat: no-repeat;
  background-attachment: fixed;   
  -webkit-background-attachment: fixed;  
  -moz-background-attachment: fixed;    
  display: flex;
  flex-direction: column;         
  align-items: center;           
  justify-content: flex-start;   
  overflow: hidden;
  z-index: 0;
}

.concert-hero::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(255, 255, 255, 0.76); 
  z-index: 0;
}

/* ==============================
   Header
   ============================== */
.concert-header {
  text-align: center;
  max-width: 800px;
  margin: 75px auto 10px auto; 
  padding: 0.5rem 1rem;        
}

.concert-header p {
  font-size: 1.1rem;
}

section#concerts.hero.concert-hero {
    margin-top: 30px;
    margin-bottom: 0;
}



/* ==============================
   Concert cards container
   ============================== */
.concert-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.concert-cards-grid {
  display: grid;
  grid-template-columns: 1fr;     /* mobile: une colonne */
}

/* ==============================
   Concert card
   ============================== */
.concert-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.concert-card:hover {
  transform: translateY(-5px);
}


.concert-card-main h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.concert-description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.concert-info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 1.2rem;
  color: #555;
}

.concert-venue {
  font-style: italic;
  color: #666;
}

.concert-date, .concert-time {
  font-weight: 500;
  color: #1a7ab6;
}

.concert-price {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  color: #1a7ab6;
  font-weight: 500;
}

.concert-phone {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.concert-phone a {
  color: #333;
  text-decoration: none;
  border-radius: 15px;
  padding: 0.25rem 0.5rem;
  background-color: #1ea740;
  color: #fff;
}

.concert-phone a:hover {
  background-color: #207a37;
  text-decoration: none;
}

/* ==============================
   Desktop: deux colonnes
   ============================== */
@media (min-width: 900px) {
  .concert-cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0 20px;
    max-width: 700px;
  }

  .concert-hero {
    padding: 5px 2rem 10px 2rem; 
  }

  .concert-card {
    gap: 30px;
    width: 100%;
  }

  p.concert-description {
    font-size: 1rem;
  }
 
}
